.tile{
  display:inline-block;
  background-color: lightblue;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  height: 125px;
  width: 125px;
  text-align: center;
}

.row {
  display: flex;
}

.boardTile{
  display:inline-block;
  background-color: lightblue;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  height: 125px;
  width: 125px;
  text-align: center;
}

.playspace{
  display: flex;
}

.notBoard{
  display: flex;
}